html { 
    height:100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

html, body{
	padding: 0px;
	margin: 0px;
}

header{

}

footer{
    position: absolute;
    right: 0;
    bottom: -95px;
    left: 0;
    min-height: 75px;
}

.p-0{ padding: 0px !important; }
.p-10{ padding: 10px !important; }
.p-20{ padding: 20px !important; }
.p-30{ padding: 30px !important; }
.p-40{ padding: 40px !important; }
.p-50{ padding: 50px !important; }
.p-60{ padding: 60px !important; }
.p-70{ padding: 70px !important; }
.p-80{ padding: 80px !important; }
.p-90{ padding: 90px !important; }
.m-0{ margin: 0px !important; }
.m-10{ margin: 10px !important; }
.m-20{ margin: 20px !important; }
.m-30{ margin: 30px !important; }
.m-40{ margin: 40px !important; }
.m-50{ margin: 50px !important; }
.m-60{ margin: 60px !important; }
.m-70{ margin: 70px !important; }
.m-80{ margin: 80px !important; }
.m-90{ margin: 90px !important; }

.table-container{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.cursor{
    cursor: pointer;
}

.flex-300, .flex-250{
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}

.flex-300{
    height: 300px;
}

.flex-250{
    height: 250px;
}

.btn{
    padding: 6px 20px !important;
}

.header-presentation img{
    width: 60px;
    margin-bottom: 8px;
}

.mockup-info{
    background-color: #f3f3f3;
}

.mockup-info span{
    font-size: 16px;
}

.mockup-info p{
    font-size: 20px;
    margin-bottom: 0px;
}

.header-presentation span{
    font-size: 24px;
    color: white;
    margin-left: 10px;
    vertical-align: bottom;
}

.btn-purple, .swal-button{
    background-color: #7F007F !important;
    color: white;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple.focus, .swal-button:hover, .swal-button:focus, .swal-button.focus{
    background-color: #BF00BF !important;
}

.background-header{
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    footer{
        bottom: -120px;    
    }
}